<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emi's Stats</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="glass-container">
        <h1>EMI TASKS</h1>
        <div id="tasks"></div>
        <button onclick="increaseTask('Chocolate Milk')">Chocolate Milk</button>
        <button onclick="increaseTask('Make Food')">Make Food</button>
        <button onclick="increaseTask('Take Nap')">Take Nap</button>
    </div>

    <script src="../static/app.js"></script>
</body>
</html>